<div class="mb-3">
  <h1>Connect and Stay in Touch</h1>
  <p>The easiest way to stay up to date with all ShefFood activities is to sign up to our newsletter. You can also follow us on social media.</p>

  <div class="list-group list-group-horizontal text-center">
    <a href="https://twitter.com/sheffoodsocial" class="list-group-item flex-fill twitter-background">Twitter</a>
    <a href="https://facebook.com/sheffoodsocial" class="list-group-item flex-fill facebook-background">Facebook</a>
    <a href="https://pinterest.com/sheffoodsocial" class="list-group-item flex-fill pinterest-background">Pinterest</a>
  </div>
</div>