
.bg-tomato {
    background: url("/images/agriculture-blurred-background-close-up.jpg") no-repeat center center; 
    background-size: cover;
}

.bg-beets {
    background: url("/images/agriculture-basket-beets.jpg") no-repeat center center; 
    background-size: cover;
}

.bg-fixed {
    background-attachment: fixed;
}

.content{
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

$twitter-blue: #1DA1F2;
$facebook-blue: #3C5A99;
$pinterest-red: #BD081C;

.twitter-background {
  color: #fff;
  background-color: $twitter-blue;

    &:hover {
    color: black;
    background-color: lighten($twitter-blue, 20%);
  }
}

.facebook-background {
  color: #fff;
  background-color: $facebook-blue;

  &:hover {
    color: black;
    background-color: lighten($facebook-blue, 20%);
  }
}

.pinterest-background {
  color: #fff;
  background-color: $pinterest-red;

  &:hover {
    color: black;
    background-color: lighten($pinterest-red, 20%);
  }
}

.footer {
  /* expand the footer on short pages so there's no white underneath */
  background-color: $sheffood_grey;

  h1 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  h1::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    width: 66px;
    margin-bottom: 1rem;
  }
}