.bubble-diagram {

  padding-top: 130px;
  padding-bottom: 130px;

  ul {
    padding-left: 90px;
    padding-right: 90px;
    list-style: none;
  }

  li {
    margin-block-end: 2px;
    margin-block-start: 2px;

    border-radius: 30px;
    padding: 10px;
  }

  .bubble-lavender, .bubble-lavender>ul>li {
    background-color: #e5e1ee;
  }

  .bubble-mint, .bubble-mint>ul>li {
    background-color: #b8d8d8;
  }

  .bubble-purple, .bubble-purple>ul>li {
    background-color: #564256;
    color: white;
  }

  .bubble-coral, .bubble-coral>ul>li {
    background-color: #fa7268;
    color: white;
  }

  .bubble-blue, .bubble-blue>ul>li {
    background-color: #084c61;
    color: white;
  }

  .bubble-khaki, .bubble-khaki>ul>li {
    background-color: #948379;
    color: white;
  }

  h1, h2 {
    margin-top: 1em;
  }


  @media (min-width: 1049px){
    display: flex;
    justify-content: center;

    h1, h2 {
      margin: 0;
      text-align: center;

      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      width: 50%;
    }

    h2 {
      font-size: 1.6rem;
    }

    ul {
      width: 260px;
      padding-left: 0;
      padding-right: 0;

      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      z-index: -1;
    }

    li {
      position: relative;
    }

    .bubble-left>ul>li,.bubble-side-left>ul>li {
      left:-130px;
      text-align: left;
      padding-left: 20px
    }

    .bubble-right>ul>li, .bubble-side-right>ul>li {
      left:130px;
      text-align: right;
      padding-right: 20px
    }

    .central-bubble {
      background-color:#e8e8e8;
      color:#564256;

      border-radius:50%;

      height:500px;
      width:500px;

      position:relative;
    }

    .outer-bubble {
      height:250px;
      width:250px;

      align-items: center;
      border-radius: 50%;
    }



    // X options
    .bubble-side-left {   
      right: 85%;
    }

    .bubble-side-right {   
      left: 85%;
    }

    .bubble-left {   
      // nothing needed
      // this is just here for symmetry ☯️
    }

    .bubble-right {
      left: 55%;
    }

    // Y options
    .button-top {
      position: absolute;
      transform: translateY(-50%);
    }

    .bubble-middle {
      position: absolute;
      top: 125px;
    }

    .bubble-bottom {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
    }
  }
}