
.bg-tomato {
    background: url("/images/agriculture-blurred-background-close-up.jpg") no-repeat center center; 
    background-size: cover;
}

.bg-beets {
    background: url("/images/agriculture-basket-beets.jpg") no-repeat center center; 
    background-size: cover;
}

.bg-fixed {
    background-attachment: fixed;
}

.content{
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.twitter-background {
  background-color: #1DA1F2;
}

.facebook-background {
  background-color: #3C5A99;
}

.pinterest-background {
  background-color: #BD081C;
}

.footer {
  /* expand the footer on short pages so there's no white underneath */
  background-color: $sheffood_grey;

  h1 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  h1::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    width: 66px;
    margin-bottom: 1rem;
  }
}