{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="jumbotron jumbotron-fluid bg-fixed bg-tomato">
  <div class="container text-center">
    <h1 class="display-3 text-white font-weight-bolder">{{- .Title -}}</h1></p>
  </div>
</div>

<div class="container">
  <article class="content">
    <main>
      {{ if isset .Params "lead" }}
      <p class="lead">
        {{- .Params.Lead -}}
      </p>
      <hr/>
      {{ end }}

      {{ .Content }}

      {{ range first 10 .Pages }}
        <h1><a href="{{.Permalink}}" class="text-reset">{{.Title}} <small class="text-muted">{{.start_time.Format "02-01-2006"}}</small></a></h1>

        {{/* .Content is the entire post, .Summary shows a truncated portion */}}
        {{ .Content }}
        
        {{ if isset .Params "registration_url" }}
          <a class="btn btn-outline-primary" href={{ printf "%s" .Params.registration_url }} role="button">Register</a>
        {{ end }}

        <hr/>
      {{ end }}
    </main>
  </article>
</div>
{{ end }}


