/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';

@import 'bootstrap';

.footer {
  /* expand the footer on short pages so there's no white underneath */
  height: 100%;
  background-color: #b8d8d8;
}

.footer h2 {
  font-size: 1.4rem;
  font-weight: 700;
}
.footer h2::before {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  width: 66px;
  margin-bottom: 1rem;
}